In [8]:
import pandas as pd

In [2]:
def my_function():
    # function code
    pass

In [4]:
def my_sq(x):
    #square a given value
    return x**2

In [5]:
my_sq(2)

4

In [6]:
def avg_2(x,y):
    return (x+y)/2

In [8]:
avg_2(30,50)

40.0

In [9]:
df = pd.DataFrame({
    'a':[10,20,30],
    'b':[20,30,40]
})
df

    a   b
0  10  20
1  20  30
2  30  40

In [10]:
df['a']**2

0    100
1    400
2    900
Name: a, dtype: int64

In [11]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [13]:
df['a','b'].apply(avg_2)

KeyError: ('a', 'b')

In [16]:
def avg_3(col):
    x=col[0]
    y=col[1]
    z=col[2]
    return (x+y+z)/3

In [17]:
df.apply(avg_3)

a    20.0
b    30.0
dtype: float64

In [18]:
def avg_2(row):
    x=row[0]
    y=row[1]
    return (x+y)/2

In [19]:
df.apply(avg_2,axis=1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [3]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [5]:
import numpy as np

In [10]:
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [11]:
titanic.apply(count_missing)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [12]:
titanic.apply(count_missing,axis=1)

0      1
1      0
2      1
3      0
4      1
5      2
6      0
7      1
8      1
9      1
10     0
11     0
12     1
13     1
14     1
15     1
16     1
17     2
18     1
19     2
20     1
21     0
22     1
23     0
24     1
25     1
26     2
27     0
28     2
29     2
      ..
861    1
862    0
863    2
864    1
865    1
866    1
867    0
868    2
869    1
870    1
871    0
872    0
873    1
874    1
875    1
876    1
877    1
878    2
879    0
880    1
881    1
882    1
883    1
884    1
885    1
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64