In [1]:
import pandas as pd
pd.__version__

u'0.22.0'

In [3]:
df=pd.DataFrame([['Rakesh','Chennai','Bike'],['Bipin','Chennai','Car']],\
               columns=['Name','City','Vehicle Type'],dtype=('float'),index=[1,2])
df

     Name     City Vehicle Type
1  Rakesh  Chennai         Bike
2   Bipin  Chennai          Car