In [1]:
import pandas as pd
pd.__version__

u'0.22.0'

In [4]:
df = pd.DataFrame([['Rakesh','Chennai','Thunderbird'],['Butu','Bangalore','Yamaha-FZ']],\
                 columns=['Name','City','Vehicle'],dtype=('float'))
df

     Name       City      Vehicle
0  Rakesh    Chennai  Thunderbird
1    Butu  Bangalore    Yamaha-FZ